/* navigation */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    max-width: 1400px;
    display: block;
    margin: auto;
    min-height: 100vh;
    background: #191919;
    font-family: sans-serif;
}

.navbar{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
    background: #1a1a1a;
}

.link-group{
    list-style: none;
    display: flex;
}

.active a {
    font-weight: 900;
    box-shadow: 0 0 4px 1px white;
}

/* @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap'); */
a {
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 40px 0;
    color: #03e9f4;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    margin-right: 50px;
    width: 200px;
    text-align: center;
}

a:hover {
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
    -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}

.home:nth-child(1) {
    filter: hue-rotate(270deg);
}

.projects:nth-child(1) {
    filter: hue-rotate(110deg);
}

.about:nth-child(1) {
    filter: hue-rotate(180deg);
}

a span {
    position: absolute;
    display: block;
}

a span:nth-child(1) {
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#03e9f4);
    /* animation: animate1 1s linear infinite; */

    animation: animate1 3s linear infinite;
}

@keyframes animate1 {
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}

a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#03e9f4);
    /* animation: animate2 1s linear infinite; */
    /* animation-delay: 0.25s; */

    animation: animate2 3s linear infinite;
    animation-delay: 0.75s;
}

@keyframes animate2 {
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}

a span:nth-child(3) {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#03e9f4);
    /* animation: animate3 1s linear infinite; */
    /* animation-delay: 0.50s; */

    animation: animate3 3s linear infinite;
    animation-delay: 1.50s;
}

@keyframes animate3 {
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}

a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#03e9f4);
    /* animation: animate4 1s linear infinite; */
    /* animation-delay: 0.75s; */

    animation: animate4 3s linear infinite;
    animation-delay: 2.25s;
}

@keyframes animate4 {
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}
/* navigation end */

:root {
    --color-1: #f9002f;
    --color-2: #e83611;
    --color-3: #f1b211;
    --color-4: #2a9a9f;
    --color-5: #186cb8;
}

.wrapper {
    background: #1a1a1a;
    line-height: 1;
    min-height: 100%;
    display: grid;
    place-items: center;
    min-height: calc(100vh - 16px);
    margin-top: 70px;
}

h1 {
    font-family: "Exo", sans-serif;
    font-size: 15vw;
    font-weight: 900;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    margin: auto;
    text-transform: uppercase;
    background: linear-gradient(219deg, 
    var(--color-1) 19%, 
    transparent 19%,transparent 20%, 
    var(--color-2) 20%, var(--color-2)  39%,
    transparent 39%,transparent 40%, 
    var(--color-3) 40%,var(--color-3) 59% ,
    transparent 59%,transparent 60%, 
    var(--color-4) 60%, var(--color-4) 79%,
    transparent 79%, transparent 80%, 
    var(--color-5) 80%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.container {
    padding: 1.5rem;   
    text-align: center;
    background: radial-gradient(circle at 1.4% 1.4% ,var(--color-1) .8%,transparent  .8% ), 
    radial-gradient(circle at 5.5% 3%,var(--color-2) .45% ,transparent .45% ), 
    radial-gradient(circle at 2.5% 3.5%,var(--color-3) .5% ,transparent .5% ), 
    radial-gradient(circle at 4.5% 1.2%,var(--color-4) .25%,transparent .25% ),
    radial-gradient(circle at 98% 98% ,var(--color-1) .8%,transparent  .8% ), 
    radial-gradient(circle at 95% 95%,var(--color-2) .45% ,transparent .45% ), 
    radial-gradient(circle at 94.5% 97.5%,var(--color-3) .5% ,transparent .5% ), 
    radial-gradient(circle at 98.5% 95.5%,var(--color-4) .25%,transparent .25% );
}

@media screen and (min-width: 768px) {

    h1 {
        font-size: 6.5rem;

    }
}
/* content end */