/* navigation */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    max-width: 1400px;
    display: block;
    margin: auto;
    min-height: 100vh;
    background: #191919;
    font-family: sans-serif;
}

.navbar{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
    background: #1a1a1a;
}

.link-group{
    list-style: none;
    display: flex;
}

.active a {
    font-weight: 900;
    box-shadow: 0 0 4px 1px white;
}

/* @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap'); */

.size_button {
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 40px 0;
    color: #03e9f4;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    margin-right: 50px;
    width: 200px;
    text-align: center;
}

a:hover {
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
    -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}

.home:nth-child(1) {
    filter: hue-rotate(270deg);
}

.projects:nth-child(1) {
    filter: hue-rotate(110deg);
}

.about:nth-child(1) {
    filter: hue-rotate(180deg);
}

a span {
    position: absolute;
    display: block;
}

a span:nth-child(1) {
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#03e9f4);
    /* animation: animate1 1s linear infinite; */
    animation: animate1 3s linear infinite;

}

@keyframes animate1 {
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}

a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#03e9f4);
    /* animation: animate2 1s linear infinite; */
    /* animation-delay: 0.25s; */
    
    animation: animate2 3s linear infinite;
    animation-delay: 0.75s;
}

@keyframes animate2 {
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}

a span:nth-child(3) {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#03e9f4);
    /* animation: animate3 1s linear infinite; */
    /* animation-delay: 0.50s; */
    
    animation: animate3 3s linear infinite;
    animation-delay: 1.50s;
}

@keyframes animate3 {
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}

a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#03e9f4);
    /* animation: animate4 1s linear infinite; */
    /* animation-delay: 0.75s; */
    
    animation: animate4 3s linear infinite;
    animation-delay: 2.25s;
}

@keyframes animate4 {
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}
/* navigation end */




/* projects start */
.programs {
    background-color:#1a1a1a;
    margin-top: 220px;
    width: 100vw;
    height: 100vh;
    
}

.programs_flex {
    display: flex;
    margin: 70px 0 0 30%;
}



.icon_project {
    width: 100px;
    height: 60px;
}

.icon_img {
    width: 100px;
    height: 60px;
}

h1 {
    color: white;
    padding: 10px;
    margin-left: 100px;
    margin-top: -60px;
}

.text {
    text-decoration: none;
    box-shadow: 0 0 10px 2px white;
}
/* projects end */